
body {
  margin: 0;
  padding: 0;
  background: #f0f5f9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.box {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 60%;
  padding: 8px;
  border: 2px solid #2980b9;
  border-radius: 5px;
}

button {
  padding: 8px 10px;
  background: #add8ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  text-align: left;
}

li {
  background: #f9f9f9;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
}
